

.dark-mode {
    background-color: $accent-color;
    color: $primary-color;

    .about-head {
        padding: $base-padding * 2;
        background: hsla(0, 4%, 27%, 0.5);
    }

    .toggle {
        color: $yellow-theme;
    }

    .break-everything {

        p {
            color: $primary-color;
        }
        
    }


}
