$layout-values: flex-start, flex-end, center, space-around, space-between;

// base layout classes
.container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

//Justify content classes 

@each $val in $layout-values {
    .justify-#{$val} {
        justify-content: $val;
    }
}

@mixin fancy-button {
    background-color: $accent-color;
    padding: $base-padding;
    font-size: $base-font-size;
    border: 3px solid $secondary-color;
    border-radius: $base-border-radius;
    box-shadow: $base-box-shadow;
    cursor: pointer;
    color: $primary-color;
    transform: scale(1, 0.8);
        
    &:focus,
    &:hover {
    animation: borderColors 0.5s steps(1) forwards;
    font-weight: 600;
    }
}

@each $key, $val in $colors {
  @for $i from 1 through 9 {
    .bg-hover-#{$key}-dark-#{$i} {
      &:hover {
          background-color: mix(black, $val, $i * 10)
      }
    }
  }
  
}
