$layout-values: flex-start, flex-end, center, space-around, space-between;

// base layout classes
.container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

//Justify content classes 

@each $val in $layout-values {
    .justify-#{$val} {
        justify-content: $val;
    }
}

