* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary-font;
    scroll-behavior:smooth;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.App {
    background-color: $primary-color;
    color: $accent-color;

}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: $font-size-xxl;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.column {
    flex-direction: column;
}

.grid {
    display: grid;
    gap: 1rem;
}

.layout {
    width: 100%;
    min-height: 100vh;
}

button {
    cursor: pointer;
    border: none;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: unset;
    color: unset;
}

.logo-container {
    margin-block: 50px;
    justify-content: center;
    flex-wrap: wrap;
    
    i {
        font-size: $font-size-xl;
        padding-inline: $base-padding;
        padding-block: math.div($base-padding, 2);
        border: 3px solid $accent-color;
        border-radius: $base-border-radius;
        color: $secondary-color;
        border: 3px solid $secondary-color;
        background-color: $dark-primary-color;

        &:hover {
            animation: borderColors 0.5s steps(1) forwards;
            color: $blue-theme;
        }
    }
}

.thumbnail {
    width: 100px;
    height: 100px;
}

.break-everything {
    color: $accent-color !important;
    font-size: $font-size-lrg;
    background: transparent;
}

.highlight {
    color: $secondary-color !important;
}

.red {
    background-color: $secondary-color;
}

.blue {
    background-color: $blue-theme;
}

.yellow {
    background-color: $yellow-theme;
}

.img-holder {
    height: 120px;
    width: 120px;
}










