//Variables
@use "sass:math";
@debug "SASS VARIABLES STYLESHEET";
$key: random(6);


//Theme Colors
$primary-color: #f0f0f0;
$secondary-color: #F04B54;
$accent-color: #303841;
$blue-theme: #30BFBF;
$yellow-theme: #F2C230;
$error-color: #d32752;
$info-color: #f6c31c;


$colors: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "error": $error-color,
  "info": $info-color,
  "blue": #1919e6,
  "red": #e61919,
  "yellow": #e6e619,
  "green": #19e635,
  "orange": #ffa600,
  "purple": #9900ff,
  "gray": #808080,
  "black": black,
  "white": white,
);

//Font Families
$primary-font: "Lato", Tahoma, sans-serif;
$title-font: "Raleway", Tahoma, sans-serif;

//Spacing
$base-padding: 1em;
$base-margin: 0.75em;
$head-height: 100px;

//Borders
$base-border-width: 2px;
$base-border-radius: 10px;
$border-radius-sm: math.div($base-border-radius, 4);

//Box shadow
$base-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
$dark-mode-box-shadow: rgba(226, 228, 230, 0.3) 0px 1px 2px 0px, rgba(226, 228, 230, 0.3) 0px 1px 3px 1px;



//Font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lrg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 2.5;