
.info-page {
    width: 100%;
    gap: 0 !important;

    .about-head {
        width: 50%;
        padding: $base-padding * 2;
        background: hsla(0, 1%, 74%, 0.5);
        backdrop-filter: blur(0.7rem);


        .info-head {
            align-items: flex-start;

            p {
                line-height: 1.5em;;
            }
        }

        a {
            @include fancy-button;
        }
    }
    .description {
        background: $blue-theme;
        width: 100%;
        min-height: 400px;
        background-image: url("../../Images/mountains.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .textbox {
        width: 50%;
        min-height: 400px;
        padding: $base-padding * 2;
        line-height: 1.5em;
        font-size: $base-font-size * 1.1;
        color: black;
        background: hsla(0, 7%, 92%, 0.7);
        backdrop-filter: blur(1rem);
        
        h2 {
            margin-bottom: $base-margin;
        }
    }

    .logo-container {
        width: 50%;
        justify-content: space-between;
    }
}