
.contact-page {
    width: 100%;


    .contact-head {
        max-width: 50%;   
        padding: $base-padding * 2;

        .contact-head-text {     
              line-height: 1.4rem;
        }

        img {
            max-width: 300px;
        }

        .contact-link {
            line-height: 2em;
    
            i {
                font-size: $font-size-lrg;
                color: $secondary-color;
            }
        }

    }
    .logo-container {
        width: 50%;
        justify-content: space-between;
    }
}