
.contact-page {
    width: 100%;

    .contact-head {
        width: 50%;   
        padding: $base-padding * 2;
        //border: 1px solid blue;

        .contact-head-text {     
              line-height: 1.4rem;
        }

        img {
            max-width: 50%;
        }

        .contact-link {
            line-height: 2em;
    
            i {
                font-size: $font-size-lrg;
                color: $secondary-color;
            }
        }

    }

    .form {
        padding: $base-padding * 2;
        width: 50%;
        align-items: flex-start;

        .input {
            width: 50%;
            font-size: $base-font-size;
        }

        .message-text {
            width: 100%;
            height: 150px;
            padding: $base-padding;
            font-size: $base-font-size;
        }

        .submit {
            background-color: $accent-color;
            padding: $base-padding;
            font-size: $base-font-size;
            border: 3px solid $secondary-color;
            border-radius: $base-border-radius;
            box-shadow: $base-box-shadow;
            cursor: pointer;
            color: $primary-color;
            transform: scale(1, 0.8);
    
            &:focus,
            &:hover {
            animation: borderColors 0.5s steps(1) forwards;
            }


        }
    }

    .logo-container {
        //border: 1px solid blue;
        width: 50%;
        justify-content: space-between;
        padding: $base-padding * 2;
        margin: 0;
    }
}