
.main {
    width: 100%;

    section {
        width: 100%;
        
    }
}


.intro {
    width: 80%;
    min-height: 80vh;

    .section-container {
        position: relative;

        .info-text {
            width: 40%;

            h1 {
                margin-bottom: math.div($base-margin, 3);
            }

            h3 {
                color: $secondary-color;
            }

            p {
                margin-block: $base-margin;
                line-height: 1.5em;
            }

            a {
                font-size: $font-size-lrg;

                &:hover {
                    color: $yellow-theme;
                }

                i {
                    font-size: $base-font-size;
                    color: $secondary-color;
                }
            }
        }
    }
            
    img {
        max-height: 20rem;
        border-radius: 50%;
    }


}

.stack {
    width: 100%;
    height: 60px;
    background-color: $accent-color;
    background-image: url("../../Images/code-bg.png");
    background-repeat: no-repeat;
    background-position: -65px;
    margin-bottom: 5rem;
}

.flip {
    @extend .stack;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


.skill-section {
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    justify-content: center;
    margin-bottom: 5rem;

    .skill-card {
        padding: $base-padding;
        box-shadow: $base-box-shadow;

        li {
            margin: $base-margin;
            
            img {
                width: 40px;
            }
        }

    }
}



.projects {
    min-height: 100vh;
    justify-content: flex-start;
   
    .section-container {
        flex-wrap: wrap;
    }

    h1 {
        margin-block: $base-margin;
    }

    .cards {
        width: 80%;
        grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
        justify-content: center;

        .card2 {
            padding: $base-padding;
            border-radius: $base-border-radius;
            color: #000;

            i {
                font-size: 30px;
                background-color: #252b31;
                border-radius: 50%;
                padding: math.div($base-padding, 2);
                color: white;
            }

            .lang {

                p {
                    font-size: $font-size-sm;
                    border-radius: $base-border-radius;
                    background-color: #252b31;
                    padding: 0.5rem;
                    color: white;
                }
            }
        }

    }
 
}
