//Navbar styles
.navbar {
    width: 100%;
    padding: $base-padding;

    .toggle-nav {
        display: none;
    }
}

// Footer
footer {
    width: 100%;
    background-image: url("../../Images/code-bg.png");
    background-repeat: no-repeat;
    background-position: -110px;
    text-align: center;
    padding-block: $base-padding;
    position: relative;

    img {
        position: absolute;
        left: 0;
        top: -28px;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }

    p {
        background-color: $primary-color;
    }
}