
.project-nav {
    padding-inline: $base-padding;
    padding-bottom: 2rem;

    .card2 {
        @include dynamic-card;
    }
}

.project-wrapper {
    height: 500px;
}


.project-container  {
    animation: 0.8s ease-out 0s 1 slideInFromLeft;
    align-items: flex-start !important;
    padding: $base-padding * 2;
    margin-block: 2em;
    background-color: $dark-primary-color;
    max-width: 90%;
    position: relative;
    border-radius: $base-border-radius;

    h1 {
        margin-bottom: 10px;
    }

    .project-text {
        max-width: 500px;
        width: 100%;
        align-items: flex-start;
        line-height: 1.7em;

        i {
            color: gray;
        }
    
        a {
            margin-right: $base-margin;

            &:hover {
                color: $yellow-theme;
            }
        }
    }

    

        .languages {
            font-size: $font-size-sm;
            border: 2px solid $secondary-color;
            padding-inline: $base-padding;
            padding-block: math.div($base-padding, 3);
            border-radius: $base-border-radius;
            color: $yellow-theme;
            background-color: $primary-color;
            margin-block: $base-margin;
        }

    

    .database {
        gap: 0.4rem;
    }

}

.project-image {
   max-height: 300px;
   width: 50%;
   min-width: 250px;
   box-shadow: $base-box-shadow;
}


.mobile-nav {
  .arrows {
      gap: 0.5rem;
      padding: $base-padding;
      
      .hide {
          opacity: 0.3;
      }
  }

  .card3 {
    @include dynamic-card;
}
}

