
.project-nav {
    padding-inline: $base-padding;
    padding-bottom: 2rem;

    .card2 {
        padding: $base-padding;
        border-radius: $base-border-radius;
        box-shadow: $dark-mode-box-shadow;
        color: #000;
        width: 120px;

        i {
            font-size: 30px;
            background-color: #252b31;
            border-radius: 50%;
            padding: math.div($base-padding, 2);
            color: white;
        }
    }

    a {
        text-align: center;
    }
}



.project-container  {
    box-shadow: $dark-mode-box-shadow;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    align-items: flex-start !important;
    padding: $base-padding * 2;
    margin-block: 2em;
    height: 500px;
    background-color: #252b31;
    max-width: 90%;
    position: relative;

    .project-text {
        max-width: 500px;
        align-items: flex-start;

        h1 {
            align-self: flex-start;
        }
    
        h4 {
            color: $secondary-color;
        }

        p {
            line-height: 1.7em;
        }
    
        a {
            margin-right: $base-margin;

            &:hover {
                color: $yellow-theme;
            }

           
        }
    }

    .lang-box {
        width: 100%;

        .languages {
            font-size: $font-size-sm;
            border: 2px solid $secondary-color;
            padding-inline: $base-padding;
            padding-block: math.div($base-padding, 2);
            border-radius: $base-border-radius;
            color: $yellow-theme;
            background-color: $accent-color;
            margin-block: $base-margin;
        }

    }

}

.project-image {
   max-height: 300px;
   box-shadow: $dark-mode-box-shadow;
}

.project-page {
    width: 100%;

    i {
        color: gray;
    }
}

.mobile-nav {
  .arrows {
      gap: 0.5rem;
      padding: $base-padding;
      
      .hide {
          color: transparent;
      }
  }

  .card3 {
    padding: $base-padding;
    border-radius: $base-border-radius;
    color: #000;
    width: 120px;

    i {
        font-size: 30px;
        background-color: #252b31;
        border-radius: 50%;
        padding: math.div($base-padding, 2);
        color: white;
    }
}
}

